:root {
  --color-chips: #262525d9 !important;
  --color-chips-bg: rgba(0, 0, 0, 0.5);
  --color-user-value: #5e676f;
  --color-bottom-divider: rgba(0, 0, 0, 0.1);
  --color-locked-bg: #f4f4f4;
}
._dark {
  --color-chips: rgba(255, 255, 255, 0.8) !important;
  --color-chips-bg: rgba(255, 255, 255, 0.2);
  --color-user-value: rgba(255, 255, 255, 0.85);
  --color-bottom-divider: rgba(255, 255, 255, 0.1);
  --color-locked-bg: rgba(255, 255, 255, 0.05);
  .crycto-card--blk,
  .crycto-card--blk-back {
    background: #0f305a !important;
  }
}
.active-only-filter {
  position: absolute;
  top: 1.17rem;
  right: 5vh;
  color: var(--color-chips);
  font-family: "Montserrat-Regular";
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.month-navigator {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0 2rem;
  font-size: 4.5rem;
  color: var(--c-gold);
  span {
    color: var(--color-chips);
    font-family: "Righteous-Regular";
    font-size: 2.3rem;
  }
}

.latest {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;

  .placeholder-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 3.5rem;
    font-family: "Righteous-Regular";
    color: var(--c-gold);
    padding-bottom: 15vh;
    div {
      margin-top: 2rem;
      padding: 1.5rem;
      font-family: "Montserrat-Regular";
      font-size: 1.25rem;
      background: var(--c-gold);
      color: white;
      border-radius: 10px;
      cursor: pointer;
      text-transform: uppercase;
      box-shadow: 0px 7px 13px -3px #0000001f;
      transition: opacity 150ms ease;
      &:hover {
        opacity: 0.95;
      }
    }
  }
  .f30 {
    font-size: 3rem !important;
  }
  .crycto-card--blk {
    flex-direction: column;
    flex: 0.5;
    // width: 48vw;
    min-width: 600px;
    min-height: unset;
    margin: 1vw;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 0 20px 17px -20px rgb(0 0 0 / 30%);
    transform: none;

    .crycto-card--blk--visible {
      flex-direction: row;
      display: flex;
      margin: 1.5rem auto 0;
      border-radius: 0;
    }
    .crycto-card-top-container {
      border-radius: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      min-height: 20px;
      margin-top: 10px;
      padding-left: 3%;
      div {
        flex-shrink: 1;
        width: unset;
        padding: 2px 10px;
        // background: var(--color-chips-bg);
        border-radius: 4px;
        margin-right: 2rem;
        border: 1px solid var(--color-chips-bg);
        span {
          font-family: "Montserrat-Regular";
          font-size: 1rem;
          color: var(--color-chips) !important;
        }
      }
    }
    .body-container {
      min-height: 90px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        span {
          font-size: 3rem;
          color: var(--c-blue);
        }
        .subtitle {
          border-top: 1px solid currentColor;
          border-radius: 2px;
          padding: 5px 15px;
          text-transform: uppercase;
          width: fit-content;
          margin-right: 10px;
        }
      }
      .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          color: var(--c-gold);
        }
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            color: hsl(168deg 68% 34%);
            font-size: 3.3rem;
          }
        }
      }
      .subtitle {
        font-family: "Montserrat-Regular";
        font-weight: 900;
        font-size: 1rem !important;
        color: var(--color-chips) !important;
      }
    }

    .bottom-container {
      width: 100%;
      padding: 1rem 1.5rem;
      min-height: 61px;
      border-radius: 0;
      margin: 1.5rem auto auto;
      background: transparent;
      border-top: 1px solid var(--color-bottom-divider);
      .bet-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 4;
        div {
          margin: 0 0.5rem;
          display: flex;
          align-items: center;
        }
      }
      .user-value {
        margin: 8px;
        text-align: center;
        font-family: "Montserrat-Regular";
        font-size: 1.2rem;
        color: var(--c-gold) !important;
      }
      .action-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        span {
          border-radius: 4px;
          padding: 1rem;
          color: var(--color-chips) !important;
          cursor: pointer;
          font-family: "Montserrat-Regular";
          font-size: 1.1rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          svg {
            margin-right: 5px;
          }
        }
        &._disabled {
          pointer-events: none !important;
          opacity: 0.7;
        }
      }
    }
    &._placed .bottom-container {
      background: #08364d;
      // border-top: none !important;
      .action-button span {
        color: var(--c-gold) !important;
        pointer-events: none;
      }
    }
    &._closed .bottom-container {
      background: var(--color-locked-bg);

      pointer-events: none;
    }
    &._predict .action-button {
      span {
        background: var(--c-blue);
        color: white !important;
        padding: 1rem 4rem;
        transition: opacity, transform 150ms ease;
        transform: scale(1);
        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.98);
        }
      }
    }
    // &._placed .action-button {
    //   flex: 1;
    // }
    &._claim .action-button span {
      background: var(--c-green);
      color: white !important;
      padding: 1rem 4rem;
    }

    .crycto-card--blk-back {
      border-radius: 0 !important;
    }
    .bet-screen {
      .back-icon {
        position: absolute;
        top: 0%;
        left: 0%;
        margin: 1.5rem;
        cursor: pointer;
        font-size: 1.8rem;
      }
      .crycto-card-top-container {
        margin-top: 0;
      }
      .action-button {
        flex: 1;
      }
      .crycto-score--value {
        font-size: 3rem;

        width: 30%;
      }
      .crypto-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
      }
      .crypto-input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.8rem;
      }
      .body-container {
        margin: 1.5rem auto 0;
        .crycto-contest--text {
          margin: 0%;
          padding: 0;
        }
      }
      .bottom-container {
        background: #08364d;
      }
      .action-button span {
        background: var(--c-gold);
      }
    }
  }
  .nouppercase {
    text-transform: none !important;
  }
}

.completed {
  padding-top: 3rem;
  padding-bottom: 10rem;
  min-height: 100vh !important;
  align-items: center;
  .action-button {
    display: inline-flex;

    span {
      border-radius: 4px;
      // padding: 1rem;
      color: white;
      cursor: pointer;
      font-family: "Montserrat-Regular";
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      min-width: 150px;
    }
    &._claim span {
      background: var(--c-green);
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 17px #19191963;
      transition: opacity, transform 150ms ease;
      transform: scale(1);
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.98);
      }
    }
    &._refund span {
      background: #084a71;
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 17px #19191963;
      transition: opacity, transform 150ms ease;
      transform: scale(1);
      &:hover {
        opacity: 0.9;
      }
      &:active {
        transform: scale(0.98);
      }
    }
    &._lost span {
      background: var(--c-red);
      color: white !important;
      pointer-events: none;
    }
    &._completed span {
      background: var(--c-gold);
      color: white !important;
      pointer-events: none;
    }
    &._disable {
      opacity: 0.8;
      pointer-events: none;
      span {
        border: none;
        box-shadow: none;
      }
    }
    &._forfeited span {
      background: #2d2d2d;
      color: white !important;
    }
  }
}
