:root {
  --font-size: 10px;
  --color-chips: #262525d9 !important;
  --color-chips-bg: rgba(0, 0, 0, 0.5);
  --color-user-value: var(--c-gold);
  --color-bottom-divider: #d7e8ff;
  --color-bottom-color: var(--c-gold);
  --color-bottom-bg: transparent; //#e9f1ffc4;
  --color-bet-bg: white; //#e9f1ffc4;
  --color-placed-bg: white; //#fffaee;
  --color-locked-bg: white;
  --color-chips-bg1: transparent;
  --color-predict-btn: #464747;
  --color-predict-btn-bg: ##ffffff;
  --color-predict-btn-border: 1px solid #bfbfbf;
  --color-confirm-btn-bg: hsl(40deg 83% 43%);
  --color-confirm-btn: white;
  --color-noresults: #3f3f3f;
  --box-shadow-button: 5px 5px 10px #7b7b7b17;
  --box-shadow-button-active: 5px 5px 10px #7b7b7b17;
}
._light .crycto-card--blk {
  box-shadow: -18px -18px 30px #ffffff36, 18px 18px 30px #b8c4e085 !important;

  background: hsl(0deg 0% 100% / 71%) !important;
  &._placed {
    background: rgb(255 244 204 / 61%) !important;
  }
  &._closed {
    background: hsl(0deg 0% 100% / 61%) !important;
  }
  .crycto-card--blk-back {
    background: #f7f8f9;
  }
}
._light .crycto-card--blk-back {
  background: white;
}
._dark {
  --color-chips: rgba(255, 255, 255, 0.8) !important;
  --color-chips-bg: rgba(255, 255, 255, 0.2);
  --color-chips-bg1: #0000001c;
  --color-user-value: rgba(255, 255, 255, 0.85);
  --color-bottom-divider: transparent;
  --color-bottom-color: var(--c-gold);
  --color-bottom-bg: #0d2e56;
  --color-bottom-bg: rgba(255, 255, 255, 0.02);
  --color-bet-bg: rgba(255, 255, 255, 0.02);
  --color-placed-bg: rgba(255, 255, 255, 0.02);
  --color-locked-bg: rgba(255, 255, 255, 0.01);
  --color-predict-btn: var(--c-gold);
  // --color-predict-btn-bg: #08213f;
  --color-predict-btn-bg: transparent;
  --color-predict-btn-border: 1px solid var(--c-gold);
  --color-confirm-btn-bg: #131313;
  --color-confirm-btn-border: 1px solid;
  --color-confirm-btn: var(--c-gold);
  --color-noresults: rgba(255, 255, 255, 0.8);

  --box-shadow-button: 8px 8px 15px rgb(5 5 5 / 12%),
    -3px -3px 10px rgb(57 85 119 / 12%);
  --box-shadow-button-active: inset 10px 10px 15px rgb(5 5 5 / 18%),
    inset -7px -7px 15px rgb(57 85 119 / 12%);
  .crycto-card--blk {
    box-shadow: 10px 10px 15px rgb(5 5 5 / 18%),
      -5px -5px 10px rgb(56 56 56 / 18%) !important;
    background: #08213f !important;
    background: transparent !important;
    border: 1px solid #292a2b !important;
    .crycto-card--blk-back {
      background: #08213f !important;
      background: transparent !important;
    }
  }
  .completed {
    background: var(--c-dark-bg);
  }
}

.active-only-filter {
  position: absolute;
  top: 1.35rem;
  right: 5vh;
  color: var(--color-chips);
  font-family: "Montserrat-Regular";
  font-size: 1.1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.month-navigator {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0 1rem;
  font-size: 4.5rem;
  color: var(--c-gold);
  span {
    color: var(--color-chips);
    font-family: "Righteous-Regular";
    font-size: 2.3rem;
  }
}

.latest {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;

  .placeholder-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.7em;
    font-family: "Righteous-Regular";
    color: var(--color-noresults);
    text-align: center;
    padding: 10%;

    // text-transform: uppercase;
    img {
      margin-bottom: 2%;
    }
    span {
      font-family: "Montserrat-Regular";
      font-size: 0.8em;
      text-decoration: underline;
      margin-top: 1em;
      cursor: pointer;
    }
  }
  .f30 {
    font-size: 3em !important;
  }
  .crycto-card--blk {
    flex-direction: column;
    flex: 0.5;
    // width: 48vw;
    min-width: 600px;
    min-height: unset;
    margin: 1.75rem 1vw;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 0 20px 17px -20px rgb(0 0 0 / 30%);
    transform: none;

    .crycto-card--blk--visible {
      flex-direction: row;
      display: flex;
      margin: 1.5em auto 0;
      border-radius: 0;
    }
    .crycto-card-top-container {
      border-radius: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      min-height: 20px;
      margin-top: 10px;
      padding-left: 3%;
      div {
        flex-shrink: 1;
        width: unset;
        max-width: 20%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 10px;
        border-radius: 4px;
        margin-right: 2em;
        border: 1px solid var(--color-chips-bg);
        background: var(--color-chips-bg1);
        span {
          font-family: "Montserrat-Regular";
          font-size: 1em;
          color: var(--color-chips) !important;
        }
      }
    }
    .body-container {
      min-height: 90px;

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        label {
          width: 85%;
          span {
            width: 40%;
            &:first-child {
              text-align: right;
            }
            &:last-child {
              text-align: left;
            }
          }

          span.crycto-smallfont {
            width: 20%;
            padding: 0;
          }
        }
        span {
          font-size: 3em;
          color: var(--c-blue);
        }
        .subtitle {
          border-top: 1px solid currentColor;

          padding: 5px 15px;
          text-transform: uppercase;
          width: fit-content;
          // margin-right: 10px;
        }
      }
      .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          color: var(--c-gold);
          &:nth-child(1) {
            color: var(--c-gold) !important;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            color: hsl(168deg 68% 34%);
            font-size: 3em;
          }
        }
      }
      .subtitle {
        font-family: "Montserrat-Regular";
        font-weight: 900;
        font-size: 1em !important;
        color: var(--color-chips) !important;
      }
    }

    .bottom-container {
      width: 100%;
      padding: 1em 1.5em;
      min-height: 62px;
      border-radius: 0;
      margin: 1.5em auto auto;
      background: var(--color-bottom-bg);
      // background: #1f5286;
      // border-top: 1px solid var(--color-bottom-divider) !important;
      .bet-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 4;
        div {
          margin: 0 0.5em;
          display: flex;
          align-items: center;
        }
      }
      .user-value {
        margin: 8px;
        text-align: center;
        font-family: "Montserrat-Regular";
        font-weight: bolder;
        font-size: 1.2em;
        color: var(--color-bottom-color) !important;
      }
      .action-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        span {
          border-radius: 5px;
          padding: 1em;
          color: var(--color-chips) !important;
          cursor: pointer;
          font-family: "Montserrat-Regular";
          font-size: 1.1em;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          box-shadow: var(--box-shadow-button);
          svg {
            margin-right: 5px;
          }
        }
        &._disabled {
          pointer-events: none !important;
          opacity: 0.7;
        }
      }
    }
    &._placed .bottom-container {
      background: var(--color-placed-bg);
      // border-top: none !important;
      .action-button span {
        color: var(--color-bottom-color) !important;
        pointer-events: none;
        box-shadow: none;
      }
    }
    &._closed .bottom-container {
      background: var(--color-locked-bg);
      // border-top: none !important;
      pointer-events: none;

      .action-button span {
        box-shadow: none;
        color: var(--color-chips) !important;
      }
    }
    &._predict .action-button {
      span {
        background: var(--color-predict-btn-bg);
        color: var(--color-predict-btn) !important;
        border: var(--color-predict-btn-border);
        padding: 1em 4em;
        transition: opacity, transform 150ms ease;
        transform: scale(1);
        &:hover {
          // opacity: 0.9;
        }
        &:active {
          transform: scale(0.98);
          box-shadow: var(--box-shadow-button-active);
        }
      }
    }
    // &._placed .action-button {
    //   flex: 1;
    // }
    &._claim .action-button span {
      background: var(--c-green);
      color: white !important;
      padding: 1em 4em;
    }

    .crycto-card--blk-back {
      border-radius: 0 !important;
    }
    .bet-screen {
      .back-icon {
        position: absolute;
        top: 0%;
        left: 0%;
        margin: 1.5em;
        cursor: pointer;
        font-size: 1.8em;
      }
      .crycto-card-top-container {
        margin-top: 0;
      }

      .action-button {
        flex: 1;
      }
      .crycto-score--value {
        font-size: 3rem;
        width: 30%;
      }
      .crypto-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;
      }
      .crypto-input {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.8em;
      }
      .body-container {
        margin: 1.5em auto 0;
        .crycto-contest--text {
          margin: 0%;
          padding: 0;
          font-size: 1.03em;
        }
        .crycto-card--text-rhs {
          font-size: 2.4em;
        }
      }
      .bottom-container {
        background: var(--color-bet-bg);
      }
      .action-button {
        color: var(--c-gold);
      }
      .action-button span {
        background: var(--color-confirm-btn-bg);
        color: var(--color-confirm-btn) !important;
        border: var(--color-confirm-btn-border);
        &:hover {
          // border: 1px solid var(--c-gold);
          opacity: 0.9;
        }
        &:active {
          box-shadow: var(--box-shadow-button-active);
        }
        &.active {
          box-shadow: var(--box-shadow-button-active);
        }
      }
    }
  }
  .nouppercase {
    text-transform: none !important;
  }
}

.completed {
  position: relative;
  padding-top: 3em;
  padding-bottom: 10rem;
  min-height: 100vh !important;
  align-items: center;
  padding-bottom: 0 !important;
  .action-button {
    display: inline-flex;

    span {
      border-radius: 4px;
      // padding: 1em;
      color: white;
      cursor: pointer;
      font-family: "Montserrat-Regular";
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      min-width: 130px;
      box-shadow: 10px 10px 15px rgb(5 5 5 / 30%),
        -5px -5px 12px rgb(162 160 160 / 5%);
    }
    &._claim span {
      color: var(--c-green) !important;
      transform: scale(1);
      transition: all 150ms ease;
      &:hover {
        opacity: 0.9;
        // border: 1px solid var(--c-green);
        // background: var(--c-green);
        // color: white !important;
      }
      &:active {
        box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
          inset -5px -5px 12px rgb(162 160 160 / 5%);
      }
      &.active {
        box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
          inset -5px -5px 12px rgb(162 160 160 / 5%);
      }
    }
    &._refund span {
      color: #258fce !important;
      transition: all 150ms ease;
      transform: scale(1);
      &:hover {
        opacity: 0.9;
        // background: #2688c1;
        // color: white !important;
      }
      &:active {
        box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
          inset -5px -5px 12px rgb(162 160 160 / 5%);
      }
      &.active {
        box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
          inset -5px -5px 12px rgb(162 160 160 / 5%);
      }
    }
    &._lost span {
      color: var(--c-red) !important;
      pointer-events: none;
      box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
        inset -5px -5px 12px rgb(162 160 160 / 5%);
    }
    &._completed span {
      // border: 1px solid var(--c-gold);
      color: var(--c-gold) !important;
      pointer-events: none;
      box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
        inset -5px -5px 12px rgb(162 160 160 / 5%);
    }
    &._disable {
      opacity: 0.8;
      pointer-events: none;
      span {
        // border: none;
        box-shadow: inset 10px 10px 15px rgb(5 5 5 / 30%),
          inset -5px -5px 12px rgb(162 160 160 / 5%);
      }
    }
    &._forfeited span {
      // background: #141212;
      color: white !important;
    }
  }
}

@media (max-width: 1100px) {
  :root {
    --font-size: 8px;
  }
  .completed {
    padding-bottom: 12rem;
  }
}

@media (max-width: 900px) {
  :root {
    --font-size: 5px;
  }
  .month-navigator {
    span {
      font-size: 15px;
    }
  }
  .active-only-filter {
    display: flex;
    top: 4.5rem;
    right: unset;
    width: 100%;
    justify-content: center;
  }
  .latest {
    font-size: 8px;
    margin-top: 8rem;
    .f30 {
      font-size: 17px !important;
    }

    .crycto-card--blk {
      min-width: 90vw;
      width: 90vw;
      margin-top: 2em;

      .body-container {
        min-height: 65px;
        .left {
          span {
            font-size: 16px;
          }
        }
        .right {
          span {
            font-size: 16px !important;
          }
          .subtitle {
            font-size: 0.9em !important;
          }
        }
        .subtitle {
          font-size: 0.9em !important;
        }
      }
      .bottom-container {
        min-height: 51px;
        margin: 0;
      }
      .bet-screen {
        .crycto-score--value {
          width: 40%;
          font-size: 1em;
        }
        .arrow-left,
        .arrow-right {
          width: 20px;
        }
        .bottom-container {
          font-size: 5px !important;
          .range-value {
            font-size: 15px;
            width: 45px;
            height: 20px;
          }

          .f20 {
            font-size: 10px;
          }
          .action-button span {
            border-radius: 4px;
            min-height: 65%;
            font-size: 1.6em;
            padding: 1em 2.5em;
          }
          .action-button-inner {
            color: white;
          }
        }
        .mb20 {
          margin-bottom: 10px !important;
        }
      }
    }
  }
  .completed {
    padding-bottom: 14rem;
    .action-button span {
      min-width: 50px;
      font-size: 6px;
      padding: 7px 8px;
    }
  }
}

.shape {
  position: absolute;
  right: 0;
  left: 0;
  top: -65vh;
  width: 100vh;
  background: #cd910d;
  height: 100vh;
  box-shadow: 0 0 50px 4px #ffb100;
  transform: rotate(45deg);
  margin: auto;
}

//Success animation

.checkmark-animation {
  svg {
    width: 30px;
    display: block;
    margin: 10px auto 10px;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash 0.9s ease-in-out;
      animation: dash 0.9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
      animation: dash 0.9s 0.35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
      animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }
  }

  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: teal;
    }
    &.error {
      color: #d06079;
    }
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
