:root {
  --c-blue: hsl(224, 57%, 38%);
  --c-blue-border: hsl(224, 57%, 58%);
  --c-purple: hsl(267deg 59% 34%);
  --c-gold: hsl(40deg 83% 40%);
  --c-green: #158867;
  --c-red: hsl(0deg 57% 38%);
  --c-cancelled: #5d5d5d;

  --card-bg-gradient-lightness: 10%;

  --c-light-bg: linear-gradient(45deg, #b4c3f9, #f0f0ff);
  --c-dark-bg: linear-gradient(to top, #1b1c29, #06111b);
  --c-secondary: #0a1421;
  --c-fallback-text-color: rgba(255, 255, 255, 0.8);

  --c-dark-card-bg-blue: linear-gradient(45deg, #2a4798, #091e58);
  --c-dark-card-bg-purple: linear-gradient(45deg, #592a98, #330b44);
  --c-dark-card-bg-cancelled: linear-gradient(45deg, #5d5d5d, #373737);
  --c-dark-card-bg-gold: linear-gradient(45deg, hsl(40deg 81% 36%), #815b0e);
  --c-dark-card-bg-green: linear-gradient(45deg, var(--c-green), #0d5440);
  --c-dark-card-bg-red: linear-gradient(45deg, #6a1d1d, #4c1414);
}

._light {
  background: var(--c-light-bg);
  --c-secondary: white;
  --c-fallback-text-color: #2a4798;
}

._dark {
  background: var(--c-dark-bg);
}
.bgblue {
  background: linear-gradient(45deg, #021646, #190e1b);
  /* border-top-left-radius: 1%;
  border-top-right-radius: 1%; */
  align-items: flex-start;
  box-shadow: inset 0px 0px 13px #0000008c;
}
._light .bgblue {
  background: linear-gradient(45deg, #2a4798, #7850c5);
}
.crycto-app--heading {
  align-self: unset;
}

.crycto-launch--block {
  display: flex;
  justify-content: center;
}
.crycto-launch--cta {
  transition: transform, background-color 0.2s;
  text-transform: none;
  font-family: var(--crycto-font-montserrat);
  height: 4rem;
  background: transparent;
  color: transparent;
}
._light .crycto-launch--cta {
  background: transparent;
}
._dark .crycto-launch--cta {
  background: transparent;
  color: hsl(222deg 98% 62%);
}
._dark .crycto-launch--cta:hover {
  background: hsl(224deg 69% 13%);
}
.crycto-launch--cta img {
  transition: all 0.2s;
}
.crycto-launch--cta:hover img {
  transform: scale(1.1);
}
.nohover.crycto-launch--cta:hover img {
  transform: scale(1) !important;
}

.crycto-topbar {
  height: 12vh;
}
/* Section */
.crycto-app--section {
  padding: 5rem 0 5rem 0;
  min-height: 88vh;
  /* When there is no data/ when loading */
}

.crycto-logo--text {
  color: var(--c-blue) !important;
}

.crycto-instruction {
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.crycto-instruction > .crycto-card--blk:nth-of-type(1) {
  margin-left: 2rem;
}
.c-skeleton.crycto-instruction > .crycto-card--blk:nth-of-type(2) {
  margin-left: 2rem;
}
/* Card */
.crycto-card--blk {
  background: var(--c-dark-card-bg-blue);
  box-shadow: rgb(0 0 0 / 25%) -1px 11px 20px 1px;
  /* Uniswap */
  /* box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px; */
  transform: perspective(60rem) rotateX(2deg);
  border: 2px solid white !important;
}
._dark .crycto-card--blk {
  border: none !important;
}
._dark .crycto-card--heading span {
  color: rgba(255, 255, 255, 0.8) !important;
}
.crycto-card--heading span {
  color: var(--c-blue);
}
._cancelled.crycto-card--blk .crycto-card--heading span {
  color: var(--c-cancelled);
}
._placed .crycto-card--heading span {
  color: var(--c-purple);
}
._completed .crycto-card--heading span {
  color: var(--c-gold);
}
._win .crycto-card--heading span {
  color: var(--c-green);
}
._lost .crycto-card--heading span {
  color: var(--c-red);
}
._light .crycto-card--blk {
  border-top: 5px solid var(--c-blue);
}
.crycto-card--blk {
  border-top: 4px solid var(--c-blue);
}
._light .crycto-card--blk {
  border-color: var(--c-blue);

  background: linear-gradient(
    to bottom,
    hsl(224deg 57% 38% / 21%),
    var(--c-secondary)
  );
  background: white;
}
.crycto-card--blk._completed {
  border-color: var(--c-gold);
  background: linear-gradient(
    to bottom,
    hsl(40deg 86% 43% / 10%),
    var(--c-secondary)
  );
}
._light .crycto-card--blk._completed {
  border-color: var(--c-gold);
  background: white;
}

.crycto-card--blk._lost {
  border-color: var(--c-red);
  background: var(--c-dark-card-bg-red);
}
._light .crycto-card--blk._lost {
  border-color: var(--c-red);
  background: white;
}
._light .crycto-card--blk._placed {
  border-color: var(--c-purple);
  background: white;
}
.crycto-card--blk._placed {
  background: var(--c-dark-card-bg-purple);
}
.crycto-card--blk._completed {
  background: var(--c-dark-card-bg-gold);
}
.crycto-card--blk._win {
  background: var(--c-dark-card-bg-green);
}
._light .crycto-card--blk._win {
  background: white;
}

.crycto-card--blk._cancelled {
  border-color: var(--c-cancelled);
  background: linear-gradient(to bottom, #272b2d4d, var(--c-secondary));
}

._dark .crycto-card--blk._cancelled {
  background: var(--c-dark-card-bg-cancelled);
}

.crycto-card--text {
  padding-top: 1.5rem;
}

.crycto-card--maincontent span {
  color: var(--c-gold) !important;
}

._highlight {
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}

._highlight .payout-x {
  margin: 0.4rem 0 0 0.2rem;
  font-size: 1.9rem;
}

.crycto-card--blk--visible > .crycto-card--fold:nth-child(3) {
  padding-right: 1.5rem;
}
.crycto-card--text-rhs {
  color: var(--c-blue);
}

._placed .crycto-card--text-rhs {
  color: var(--c-purple);
}

._completed .crycto-card--text-rhs {
  color: var(--c-gold);
}

._cancelled .crycto-card--text-rhs {
  color: var(--c-cancelled);
}
._win .crycto-card--text-rhs {
  color: var(--c-green);
}

._dark .crycto-card--text-rhs {
  color: rgba(255, 255, 255, 0.8) !important;
}

._lost .crycto-card--text-rhs {
  color: var(--c-red);
}

.crycto-card--text-lhs {
  font-size: 1rem;
  color: #797caa;
}
._dark .crycto-card--text-lhs {
  color: rgb(232 232 232 / 70%);
}
.crycto-card--maincontent {
  background: transparent;
}

._light .crycto-card--labels,
.crycto-card--maincontent {
  background: hsl(224deg 85% 97%);
}
._dark .crycto-card--labels,
.crycto-card--maincontent {
  background: rgba(0, 0, 0, 0.2);
}
.crycto-card--cta {
  background-color: var(--c-blue);
}
.crycto-card--blk._placed .crycto-card--cta {
  background-color: var(--c-purple);
}
.crycto-card--blk._completed .crycto-card--cta {
  background-color: var(--c-gold);
}
.crycto-card--blk._win .crycto-card--cta {
  background-color: var(--c-green);
}
.crycto-card--blk._lost .crycto-card--cta {
  background-color: var(--c-red);
}
._cancelled.crycto-card--blk .crycto-card--cta {
  background: var(--c-cancelled);
}
._cancelled.crycto-card--blk {
  border-color: var(--c-cancelled);
  opacity: 0.7;
}

/* Form */

.crycto-card--blk-back {
  transform: scale(0);
  animation: slideUp 0.25s ease forwards;
  background: hsl(223deg 63% 16%);
  border-radius: 50%/ 3% 3% 5% 5%;
  padding-top: 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
._light .crycto-card--blk-back {
  background: hsl(223deg 67% 80%);
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.crycto-card--blk-back .crycto-contest--text {
  margin-top: 2rem;
  padding: 0 2rem;
  color: var(--c-fallback-text-color);
  font-size: 1rem;
  font-family: "Montserrat-Regular";
}
.crycto-card--blk-back .crycto-card--text-lhs {
  color: #444444;
}
.crycto-card--blk-back .crycto-score--value,
.crycto-card--text-rhs {
  color: white;
}
._light .crycto-card--blk-back .crycto-score--value,
.crycto-card--text-rhs {
  color: var(--c-blue);
}
.crycto-score--value {
  width: 15rem;
}
.arrow-left,
.arrow-right {
  cursor: pointer;
}
.back-button {
  position: absolute;
  left: 5%;
  font-size: 3rem;
  top: 0;
  cursor: pointer;
  color: black;
}
.range-value {
  padding: 0.5rem 1rem;
  background: #323756;
  border-radius: 0.5rem;
  outline: 0;
  border: none;
  width: 6rem;
  height: 3rem;
  color: white;
  font-family: "Righteous-Regular";

  font-size: 2rem;
}
._light .range-value {
  background: #f1f4ff;
  color: var(--c-blue);
}
.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crycto-card--web3-button {
  background: #264796;
  color: white;
  text-transform: uppercase;
  font-family: var(--crycto-font-montserrat);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 40%;
  margin: 1rem auto;
  box-shadow: 1px 6px 20px -15px var(--c-blue);
  cursor: pointer;
  outline: none;
  border: none;
  transform: translateY(0px);
  transition: filter, transform 0.2s ease;
}

._light .crycto-card--web3-button {
  background: var(--c-secondary);
  color: var(--c-blue);
  box-shadow: 1px 6px 20px -15px;
}

.crycto-card--web3-button:hover {
  filter: brightness(0.97);
  transform: translateY(-1px);
}

.crycto-card--web3-button:disabled {
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}

/* Tiny Card */

.bgblue .crycto-instruction {
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 60vh;
}

._small {
  color: var(--c-secondary) !important;
  transform: perspective(50rem);
  transition: transform 0.3s ease;
}

._dark {
  color: rgba(255, 255, 255, 0.8) !important;
}

._small:hover {
  transform: perspective(50rem) scale(1.05) rotateX(-4deg);
}

.bgblue .crycto-instruction > .crycto-card--blk:nth-of-type(1) {
  margin-left: 1.5rem;
}
._small .crycto-instruction {
  flex-wrap: wrap;
}

._small .crycto-instruction > .crycto-card--blk:nth-of-type(1) {
  margin-left: 0;
}

._small ._highlight {
  padding-top: 2rem !important;
}

._small._completed {
  background: var(--c-gold) !important;
}
._small._win {
  background: var(--c-green) !important;
}
._small._lost {
  background: var(--c-red) !important;
}
._small._cancelled {
  background: var(--c-cancelled) !important;
}

._small .crycto-card--text-rhs {
  color: var(--c-secondary);
}
._small span {
  color: var(--c-secondary) !important;
}

.crycto-card--blk._small .crycto-card--text-lhs {
  font-size: 0.9rem;
}

._dark ._small .crycto-card--text-lhs {
  color: var(--c-fallback-text-color) !important;
}

._small .crycto-card--maincontent {
  padding: 1rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

/* ._small._lost .crycto-card--maincontent {
  background: hsl(0deg 57% 25%);
} */

._small .crycto-card--maincontent span {
  color: var(--c-gold) !important;
}

._small .crycto-card--blk--visible > .crycto-card--fold:nth-child(3) {
  padding-bottom: 1.5rem;
}

._small .crycto-card--maincontent-rhs {
  font-size: 1rem;
}

/* Footer */

.crypto-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 2.2rem 2.5rem;
  width: 100%;
  /* text-shadow: 0 0 9px #ffffff4a; */
}
.crypto-footer span {
  cursor: pointer;
}
.crypto-footer-follow {
  font-size: 2rem;
  font-family: "Righteous-Regular";
}
.crypto-footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.crypto-footer-social span {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem;
}
.crycto-account {
  overflow: visible;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
._dark .crycto-account {
  background: hsl(224deg 69% 13%);
}
._light .crycto-account {
  background: #d8e4fd;
}
.crycto-disconnect {
  position: absolute;
  top: 100%;
  opacity: 0;
  animation: fadeIn 0.15s ease forwards;
  font-size: 1.1rem;
  font-family: "Montserrat-Regular";
  box-shadow: 0px 9px 20px #00000024;
  border-radius: 0 0 4px 5px;
  cursor: pointer;
  filter: brightness(1);
  transition: all 0.3s ease;
  left: 0;
  right: 0;
  transition: all 0.3 ease;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: brightness(1);
  z-index: 9999;
}

._dark .crycto-disconnect {
  background-color: hsl(222deg 82% 31%);
  color: rgb(255 255 255 / 90%);
}

._light .crycto-disconnect {
  background-color: white;
  color: black;
}

.crycto-disconnect:hover {
  filter: brightness(0.95);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Utils */

.w100 {
  width: 100%;
}
.mt1rem {
  margin-top: 1rem;
}

.cp {
  cursor: pointer;
}

/* Scroll bar */
/* ::-webkit-scrollbar {
  outline: none;
} */

::-webkit-scrollbar:vertical {
  display: none;
}

/* width */
::-webkit-scrollbar:horizontal {
  height: 12px;
}

/* Handle */
/* ._light ::-webkit-scrollbar-thumb:horizontal {
  background: hsl(224, 65%, 64%);
  opacity: 0.6;
  border-radius: 10px;
}

._dark ::-webkit-scrollbar-thumb:horizontal {
  background: hsl(227, 90%, 4%);
  opacity: 0.6;
  border-radius: 10px;
} */

/* Track */
/* ._light ::-webkit-scrollbar-track:horizontal {
  background: hsla(227, 100%, 97%, 0.774);
  border-radius: 10px;
  outline: none;
}
._dark ::-webkit-scrollbar-track:horizontal {
  background: hsla(240, 1%, 10%, 0.8);
  border-radius: 10px;
  outline: none;
} */
